.about {
    /* min-height: 100%; */
    height: 100vh;
    width: 100%;
    padding-top:30px;
    background-color: #101010 !important;
    text-align: center;
}

.about-container {
    width:100%;
    height: 90%;
    margin: 0 auto;
    margin-top:50px;
    padding:30px;
    text-align: left;
}

.pic {
    height:300px;
    width: auto;
    /* border-radius: 50%; */
}

.big-text {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
}

.italicized-text {
    font-size: 24px;
    color:#60e0d8;
    text-shadow: 2px 2px black;
    font-style: italic;
}

.img-div {
    border-bottom: 2px solid #e060e7;
    border-radius: 5%;
}

.purple-text {
    color:#e060e7;
}

.center {
    text-align: center !important;
}

#skills-div {
    margin-top:20px;
}

.skill {
    height:75px;
    width: 75px;
    margin: 0 auto;
    background-color: #60e0d8;
    box-shadow: 2px 2px black;
    border-radius: 50%;
    padding-top:5%;
    color:black !important;
    font-weight: bold;
    font-size:20px;
}