nav {
  background-color: black !important;
}

nav.navbar {
  padding:0 20px;
}

.navbar-brand {
  color:#60e0d8 !important;
  font-weight:bold;
}

.nav-item, .nav-link {
  color: #f2f2f2;
}

button {
  font-weight:normal !important;
}