.top-container {
    text-align:center;
    padding-top:15%;
    color: #f2f2f2;
    height:100%;
}

.typist {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

.emoji {
    max-height:36px;
    width: auto;
}

#imageDiv {
    width: 100%;
    text-align: center;
    margin-top:-20px !important;
}

.cursor {
    cursor: pointer;
}