.portfolio {
    height: 100%;
    width: 100%;
    padding-top:60px;
    background-color: #101010 !important;
    text-align: center;
}

.project-wrapper {

        /* padding-top: 30px; */
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 20px;
        justify-content: space-around;
        align-content: flex-start;
        overflow: auto;
}

.cursor {
    cursor: pointer;
}

#portfolioDiv {
    width: 100%;
    text-align: center;
    margin-bottom:25px;
}